@import '~normalize.css/normalize.css';

html, body {
  height: 100%;
}
#app {
  height: 100%;
  overflow: auto;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  // override
  .el-menu {
    border-right: none;
  }
}
