@import '~normalize.css/normalize.css';

html, body {
  height: 100%;
  background-color: #f3f3f3;
}
#app {
  height: 100%;
  overflow: auto;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .iconfont {
    font-size: inherit;
  }
}
