// reset
@import '~normalize.css/normalize.css';

body {
  font-size: .875em;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow-x: hidden;
}

.iconfont {
  font-size: inherit;
}


