@import './theme-default.scss';

$header-height: 60px;

$color-aside-bg: #282c34;
$color-header-bg: #bbe6d6;
$color-border: #e5e5e5;

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:export {
  colorPrimary: $theme-color-primary;
  colorBgNav: $theme-color-bg-nav;
  colorNav: $theme-color-nav;
}