/*
* 命名规范：属性-组件-描述
*/

// common
$color-primary: teal; // 主题色
$color-border: #e5e5e5; // 边框颜色

$height-header: 50px; // 头部高度

// menu
$color-menu-bg: #404e67; // 背景色
$color-menu-text: #dcdcdc; // 文字颜色
$color-menu-text-active: #fe8a7d; // 选中文字颜色
$height-menu-item: 48px; // 菜单项高度

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:export {
  colorPrimary: $color-primary;
  heightHeader: $height-header;
  colorMenuBg: $color-menu-bg;
  colorMenuText: $color-menu-text;
  colorMenuTextActive: $color-menu-text-active;
}